<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/dashboard/fragment/header::header"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app" v-cloak class="container">
        <el-row class="breadcrumb">
            <el-col :sapn="24">
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>活动管理</el-breadcrumb-item>
                    <el-breadcrumb-item>活动列表</el-breadcrumb-item>
                </el-breadcrumb>
            </el-col>
        </el-row>
        <el-row class="breadcrumb">
            <el-col :sapn="24">
                <el-button type="primary" icon="el-icon-plus" @click="toAdd">添加</el-button>
            </el-col>
        </el-row>
        <el-form ref="form"  label-width="80px">
            <el-row>
                <el-col :span="24">
                    <el-table
                            :data="page.list"
                            style="width: 100%"
                            border>
                        <el-table-column
                                prop="title"
                                label="标题">
                        </el-table-column>
                        <el-table-column
                                prop="hoster"
                                label="主持人">
                        </el-table-column>
                    </el-table>
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="page.pageNum"
                            :page-sizes="[10, 50, 100, 400]"
                            :page-size="page.pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="page.total">
                    </el-pagination>
                </el-col>
            </el-row>

        </el-form>
        <el-row>

        </el-row>

    </div>
    <script th:inline="javascript">
        var app = new Vue({
            el: "#app",
            data: {
                loading:false,
                page:{
                    list:[],
                    pageNum:null,
                    pageSize:null,
                    total:null,
                },

            },
            created:function () {
                this.getPageData();
            },
            methods: {
                handleSizeChange:function(val) {
                    this.getPageData(this.page.pageNum,val);
                },
                handleCurrentChange:function(val) {
                    this.getPageData(val,this.page.pageSize);
                },
                getPageData: function (pageNum, pageSize) {
                    var self = this;
                    self.page.pageNum = pageNum;
                    self.page.pageSize = pageSize;
                    self.loading = true;
                    $.ajax({
                        url: "/activity/getViewData",
                        type: "GET",
                        dataType: "json",
                        async: true,
                        data: {
                            pageNum: self.page.pageNum,
                            pageSize: self.page.pageSize,
                        },
                        success: function (res) {
                            if(res.status == 0){
                                self.page = res.data;
                            }
                        }
                    });
                },
                toAdd:function () {
                    $(location).attr('href', "/activity/toAdd");
                }

            }
        });
    </script>
</body>
</html>