<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>-->
    <link rel="stylesheet" th:href="@{/frame/vue/index.css}">
    <script th:src="@{/frame/vue/vue.js}"></script>
    <script th:src="@{/frame/vue/index.js}"></script>
    <script th:src="@{/frame/jquery/jquery3.3.1.min.js}"></script>
    <meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />

    <link th:href="@{/module/login/css/style.css}" rel='stylesheet' type='text/css' />
    <!--webfonts-->
    <!--<link href='http://fonts.useso.com/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    &lt;!&ndash;//webfonts&ndash;&gt;
    <script src="http://ajax.useso.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
</head>
<body>
<!--<script>$(document).ready(function(c) {
    /*$('.close').on('click', function(c){
        $('.login-form').fadeOut('slow', function(c){
            $('.login-form').remove();
        });
    });*/
    var submitBtn = document.getElementById("form");

    submitBtn.onclick = function (event) {
        alert("preventDefault!");
        return false;
    };
});
</script>-->
<div id="app">
    <!--SIGN UP-->
    <h1>后台管理系统</h1>
    <div class="login-form">
        <div class="close"> </div>
        <div class="head-info">
            <label class="lbl-1"> </label>
            <label class="lbl-2"> </label>
            <label class="lbl-3"> </label>
        </div>
        <div class="clear"> </div>
        <div class="avtar">
            <img th:src="@{/module/login/images/avtar.png}" />
        </div>
        <el-form ref="form" id="form">
            <input type="text" class="text" v-model="username">
            <div class="key">
                <input type="password" v-model="password">
            </div>
            <div class="signin">
                <input type="submit" value="Login" @click="login">
            </div>
        </el-form>

    </div>
    <div class="copy-rights">
        <p>Copyright &copy; 2018.Company name PARTY <a href="http://www.baidu.com/" target="_blank" title="app下载">app下载</a></p>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function(c) {
        var submitBtn = document.getElementById("form");
        submitBtn.onclick = function (event) {
            return false;
        };
    });
    var app = new Vue({
        el: "#app",
        data: {
            username:null,
            password:null,
        },
        methods: {
            handleOpen:function(key, keyPath) {
                //console.log(key, keyPath);
            },
            handleClose:function(key, keyPath) {
                //console.log(key, keyPath);
            },
            handleSelect:function(key, keyPath) {
                $("#iframe").attr('src',this.menus[key])
            },
            isCollapseMethod:function () {
                if(this.isCollapse){
                    this.isCollapse = false;
                    return;
                }
                this.isCollapse = true;
            },
            login:function () {
                var self = this;
                if(self.username == null || self.username == ''){
                    self.$message({
                        showClose: true,
                        message: '用户名未填写',
                        type: 'error'
                    });
                    return;
                }
                if(self.password == null || self.password == ''){
                    self.$message({
                        showClose: true,
                        message: '密码未填写',
                        type: 'error'
                    });
                    return;
                }
                $.ajax({
                    url: "/doLogin",
                    type: "POST",
                    dataType: "json",
                    async: true,
                    data: {
                        username: self.username,
                        password: self.password,
                    },
                    success: function (res) {
                        if(res.status == 0){
                            $(location).attr('href', res.msg);
                        }else{
                            self.$message({
                                showClose: true,
                                message: res.msg,
                                type: 'error'
                            });
                        }
                    }
                });
            },

        }

    });
</script>

</body>
</html>