<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <!--引入公共css,js-->
    <link rel="stylesheet" th:href="@{/frame/vue/index.css}">
    <link rel="stylesheet" th:href="@{/module/commons/commons.css}">
    <script th:src="@{/frame/vue/vue.js}"></script>
    <script th:src="@{/frame/vue/index.js}"></script>
    <script th:src="@{/frame/jquery/jquery3.3.1.min.js}"></script>
    <script th:src="@{/frame/jquery/jquery.json.min.js}"></script>
    <script type="text/javascript">
        $.ajaxSetup({cache: false})
        //防止页面后退
       /* history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });*/
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
</body>
</html>